@using CommentsTest.Models;

@helper Render(Article article, System.Web.Mvc.HtmlHelper html, bool showComments)
{
    <div class="postTitle">
        @if (!showComments)
        {
            <a href="@Href("~/Articles/Details/" + article.ID)">@article.Title</a>
        }
        else
        {
            <p>@article.Title</p>
        }
    </div>
    <div class="postContainer">
        <div class="postTabs">
        </div>
        <div class="postContent">
            <div class="postBody">@html.Raw(article.Text)</div>
        </div>

        @if (!showComments)
        {
            <div class="commentsTab">
                <a href="@Href("~/Articles/Details/" + article.ID + "#comments")">Комментариев: @article.Comments.Count</a>
            </div>
        }

    </div>

    if (showComments)
    {
        <div id="commentContainer">
            <a id="comments"></a>
            @if (article.Comments != null)
            {
                foreach (Comment comment in article.Comments)
                {
                    <div class="comment">
                        --------------
                        @if (comment.User != null)
                        {
                            <div class="commentName"> @comment.User.Name</div>
                        }
                        else
                        {
                            <div class="commentName">@comment.User.ID</div>
                        }
                        <div class="commentBody">
                            @html.Raw(@html.Encode(comment.Text).Replace("\n", "<br/>"))
                        </div>
                        <a href="@Href("~/Articles/Reply/" + comment.ID)">Ответить</a>
                    </div>
                }
            }

            <div id="commentEditor">
                <div id="commentPrompt">Добавить комментарий</div>
                <form action="@Href("~/Articles/Comment/" + article.ID)" method="post">
                    <textarea id="commentBodyInput" name="text" rows="10" cols="60"></textarea><br />
                    <input type="submit" id="commentSubmitInput" name="submit" value="Добавить" />
                </form>
            </div>
        </div>
    }
}